<%= form_for @list do |f| %>

  <div class="form-group">
    <%= f.label :name, 'Name' %>
    <div class="">
      <%= f.text_field :name, class: 'form-control' %>
      <%= errors_for @list, :name %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :webinius_cms_page_id, 'For page' %>
    <div>
      <%= f.select :webinius_cms_page_id, WebiniusCms::Page.all.collect { |p| [p.send("#{I18n.locale}_title"), p.id] } , include_blank: false, class: 'form-control' %>
      <%= errors_for @list, :webinius_cms_page_id %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button 'Save', class: 'btn btn-info' %>
    <%= link_to 'Cancel', lists_path, class: 'btn btn-small' %>
  </div>

<% end %>