<%= form_for @page do |f| %>

  <!-- <div class="well">

    <%#= f.label :picture, "Bild" %>
    <%#= f.file_field :picture %>
    <%#= errors_for @page, :picture %>

    <%# if @page.picture.present? %>
      <div class="form-group">
        <%#= f.label :remove_picture, 'Bild entfernen' %>
        <div>
          <%#= f.check_box :remove_picture %>
          <%#= errors_for @page, :remove_picture %>
        </div>
      </div>
      <%#= image_tag(@page.picture_url(:thumbnail)) %>
    <%# end %>

  </div> -->

  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this Page from being saved.</h2>
    </div>
  <% end %>

  <%= f.hidden_field :parent_id %>

  <div class="well">

    <ul class="nav nav-tabs">
      <% WebiniusCms::Language.all.each do |lang| %>
        <li class="<%= 'active' if lang.code == 'de' %>"><a href="#<%= lang.name %>" data-toggle="tab"><%= lang.name %></a></li>
      <% end %>
    </ul>
    <div class="tab-content">
      <% WebiniusCms::Language.all.each do |lang| %>
        <div class="tab-pane <%= 'active' if lang.code == 'de' %>" id="<%= lang.name %>">

          <div class="form-group">
            <%= f.label :"#{lang.code}_title", 'Name' %>
            <div>
              <%= f.text_field :"#{lang.code}_title", class: 'form-control' %>
              <%= errors_for @page, :"#{lang.code}_title" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :"#{lang.code}_description", 'Description' %>
            <div>
              <%= f.text_area :"#{lang.code}_description", rows: 6, class: 'form-control' %>
              <%= errors_for @page, :"#{lang.code}_description" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :"#{lang.code}_content", "Text" %>
            <div>
              <%= f.text_area :"#{lang.code}_content", rows: 15, class: 'text form-control' %>
              <%= errors_for @page, :"#{lang.code}_content" %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :"#{lang.code}_meta_description", "Meta description" %>
            <div>
              <%= f.text_field :"#{lang.code}_meta_description", class: 'form-control' %>
              <%= errors_for @page, :"#{lang.code}_meta_description" %>
            </div>
          </div>

        </div>
      <% end %>
    </div>

  </div>

  <div class="well">
    <div class="form-group">
      <h4>Background Images</h4>
      <%= f.label :picture, 'Image' %>
      <div>
        <%= f.file_field :picture %>
        <%= f.hidden_field :picture_cache %>
        <%= errors_for @page, :picture %>
      </div>
    </div>

    <div class="checkbox">
      <label>
        <%= f.check_box :remove_picture %> Remove Image
      </label>
    </div>
    <%= image_tag @page.picture.thumb.url if @page.picture? %>
  </div>

  <div class="well">
    <div class="form-group">
      <h4>Gallery</h4>

      <%= f.fields_for :images do |builder| %>
        <%= render 'image_fields', f: builder %>
      <% end %>
    </div>
  </div>

  <div class="well">
    <h4>Downloads</h4>

    <%= f.fields_for :documents do |document| %>

        <% if document.object.new_record? %>

          <br>
          <div><strong>Add new file</strong></div>
          <div class="form-group">
            <div>
              <%= document.file_field :document %>
              <%= document.hidden_field :document_cache %>
            </div>
          </div>

          <div class="form-group">
            <%= document.label :name, 'Name' %>
            <div>
              <%= document.text_field :name, class: 'form-control' %>
              <%= errors_for document.object, :name %>
            </div>
          </div>

        <% else %>

          <div class="checkbox">
            <%= link_to document_path(document.object) do %>
              <span class="glyphicon glyphicon-file" aria-hidden="true"></span> <%= document.object.name %>
            <% end %>
            <label class='horizontal-space'>
              <%= document.check_box :_destroy %> Remove Document
            </label>
          </div>

        <% end %>

    <% end %>
  </div>

  <div class="well">

    <div class="form-group">
      <%= f.label :kind, 'Content file' %>
      <div>
        <%= f.select :kind, @partials.collect { |p| [p, p] } , include_blank: false, class: 'form-control' %>
        <%= errors_for @page, :kind %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :navigation_type, 'Navigation Type' %>
      <div>
        <%= f.select :navigation_type, [['main', 'main'], ['footer', 'footer']], include_blank: false, class: 'form-control' %>
        <%= errors_for @page, :navigation_type %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :status, "Online" %>
      <div>
        <%= f.check_box :status %>
        <%= errors_for @page, :status %>
      </div>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button 'Save', class: 'btn btn-info' %>
    <%= link_to 'Cancel', pages_path, class: 'btn btn-small' %>
  </div>

<% end %>


