<% if flash[:notice] %>
  <div class="alert alert-success"> 
    <%= flash[:notice] %>
  </div>
<% end %>

<%= form_for @user do |f| %>

  <div class="form-group">
    <%= f.label :name, 'Name' %>
    <div class="">
      <%= f.text_field :name, class: 'form-control' %>
      <%= errors_for @user, :name %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :username, 'Username' %>
    <div class="">
      <%= f.text_field :username, class: 'form-control' %>
      <%= errors_for @user, :username %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password, 'Password' %>
    <div class="">
      <%= f.password_field :password, class: 'form-control' %>
      <%= errors_for @user, :password %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, 'Confirm password' %>
    <div class="">
      <%= f.text_field :password_confirmation, class: 'form-control' %>
      <%= errors_for @user, :password_confirmation %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button 'Save', class: 'btn btn-info' %>
    <%= link_to 'Cancel', users_path, class: 'btn btn-small' %>
  </div>

<% end %>

