<h2>Users</h2>
<br>

<table class='table table-sm'>
  <thead class="thead-dark">
    <tr>
      <th scope="col-3">Name</th>
      <th scope="col">Username</th>
      <th scope="col" class='text-right'></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.username %></td>
        <td class='text-right'>
          <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-pencil')+' Update', edit_user_path(user), :class => 'btn btn-sm btn-info' %>
          <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-remove-sign')+' Delete', user, :class => 'btn btn-sm btn-danger', method: :delete, data: { confirm: 'Are you sure?' } if user.name != 'admin' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Create new user', new_user_path, :class => 'btn btn-success' %>