<h2>Languages</h2>
<br>

<table class='table table-sm'>
  <thead class="thead-dark">
    <tr class=''>
      <th class="">Language</th>
      <th class="">Language Code</th>
      <th class="">Active</th>
      <th class="">Default</th>
      <th class="" class='text-right'></th>
    </tr>
  </thead>

  <tbody>
    <% @languages.each do |language| %>
      <tr>
        <td><%= language.name %></td>
        <td><%= language.code %></td>
        <td><%= image_tag('open-iconic/svg/check.svg', class: "icon-sm") if language.status %></td>
        <td><%= image_tag('open-iconic/svg/check.svg', class: "icon-sm") if language.default %></td>
        <td class='text-right'>
          <%= link_to 'Update', edit_language_path(language), :class => 'btn btn-sm btn-info' %>
          <%= link_to 'Delete', language, :class => 'btn btn-sm btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Add new language', new_language_path, :class => 'btn btn-success' %>