<div class="page-header">
  <h3>Languages</h3>
</div>

<table class='table pages'>
  <thead>
    <tr class='info'>
      <th class='title'>Language</th>
      <th class='status'>Language Code</th>
      <th class='status'>Online</th>
      <th class='status'>Default</th>
      <th class='actions'>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @languages.each do |language| %>
      <tr>
        <td><%= language.name %></td>
        <td><%= language.code %></td>
        <td><%= content_tag(:i, '', :class => 'glyphicon glyphicon-ok') if language.status %></td>
        <td><%= content_tag(:i, '', :class => 'glyphicon glyphicon-ok') if language.default %></td>
        <td>
          <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-pencil')+' Update', edit_language_path(language), :class => 'btn btn-xs btn-info' %>
          <%= link_to content_tag(:i, '', :class => 'glyphicon glyphicon-remove-sign')+' Delete', language, :class => 'btn btn-xs btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add new language', new_language_path, :class => 'btn btn-success' %>
