<!DOCTYPE html>
<html>
<head>
  <title>Webinius CMS Admin</title>
  <%= stylesheet_link_tag    "webinius_cms/admin", media: "all", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "webinius_cms/admin", 'data-turbolinks-track': 'reload' %>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Webinius CMS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to 'Pages', webinius_cms.pages_path, class: "nav-item nav-link #{controller_name == 'pages' ? 'active' : ''}" %>
        <%= link_to 'Lists', webinius_cms.lists_path, class: "nav-item nav-link #{controller_name == 'lists' ? 'active' : ''}" %>
        <%= link_to 'Languages', webinius_cms.languages_path, class: "nav-item nav-link #{controller_name == 'languages' ? 'active' : ''}" %>
        <%= link_to 'Users', webinius_cms.users_path, class: "nav-item nav-link #{controller_name == 'users' ? 'active' : ''}" %>

        <%= render partial: 'layouts/webinius_cms/admin_top_navigation' %>

        <%= link_to 'Logout', webinius_cms.logout_path, class: "nav-item nav-link" %>
      </div>
    </div>
  </nav>

  <div class="container">

    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>

  </div>


</body>
</html>
