<h2>List Items</h2>
<br>

<table class='table table-sm'>
  <thead class="thead-dark">
    <tr class=''>
      <th scope="col-3">Title</th>
      <th scope="col">Online</th>
      <th scope="col" class='text-right'></th>
    </tr>
  </thead>

  <tbody>
    <% @list_items.each do |list_item| %>
      <tr>
        <td><%= list_item.properties["#{I18n.locale}_title"] %></td>
        <td><%= image_tag('open-iconic/svg/check.svg', class: "icon-sm") if list_item.status %></td>
        <td class='text-right'>
          <%= link_to 'Update', edit_list_list_item_path(@list, list_item), :class => 'btn btn-sm btn-info' %>
          <%= link_to 'Delete', list_list_item_path(@list, list_item), :class => 'btn btn-sm btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
          <%= link_to image_tag('open-iconic/svg/arrow-thick-top.svg', class: "icon-sm"), higher_list_list_item_path(@list, list_item), class: 'btn btn-sm' %>
          <%= link_to image_tag('open-iconic/svg/arrow-thick-bottom.svg', class: "icon-sm"), lower_list_list_item_path(@list, list_item), class: 'btn btn-sm' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'Create new list item', new_list_list_item_path(@list), :class => 'btn btn-success' %>